<h1 class="mb-4">Historique locations</h1>
<div class="container col-4">
  <% @rentals.each do |rental| %>
    <div class="card-product mb-4">
      <img style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path rental.ski.photo.key, height: 600, crop: :fill %>')" />

      <div class="card-product-infos">
        <h3><%= rental.ski.brand %></h3>
        <p>Début: <%= rental.start_date %></p>
        <p>Fin: <%= rental.end_date %></p>
        <p><strong>Prix: <%= rental.ski.price %></strong></p>
      </div>
    </div>
  <% end %>
</div>
