<h1>Réservez votre paire  <%= @ski.brand %></h1>

<%= simple_form_for [ @ski, @rental ] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Confirmer votre réservation", class: "btn btn-primary" %>
<% end %>
