<div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-8">
        <h3>Choose your next riding buddy</h3>
      </div>
      <div class="col-4 d-flex mr-2 justify-content-xl-around align-items-center">
        <div class="btn btn-primary mr- p-2"><%= link_to 'Want to rent your own skis?', new_ski_path %></div>
      </div>
    </div>


<div class="container">
  <div class="cards">
    <% @skis.each do |ski| %>
    <%= link_to ski_path(ski) do %>
      <div class="card-category mt-5 mx-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path ski.photo.key, height: 600, crop: :fill %>')">
          <%= ski.brand %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<br>
<br>

<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
