<h1 class="text-center">Create a new offer</h1>

<div class="container">
  <%= simple_form_for(@ski) do |f| %>
    <div class=“mb-3s”>
      <%= f.input :brand %>
    </div>
    <div class=“mb-3”>
      <%= f.input :category, collection: [ "Ski-Alpin", "Ski-de-Rando", "Ski-de-Fond", "Snowboard" ]%>
    </div>
      <div class=“mb-3”>
      <%= f.input :description %>
    </div>
    <div class=“mb-3”>
      <%= f.input :sizing %>
    </div>
    <div class=“mb-3”>
      <%= f.input :price %>
    </div>
    <div class=“mb-3”>
    <%= f.submit "Create", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
