<h1 class="text-center">Create a new offer</h1>

<div class="container">
  <%= simple_form_for(@ski) do |f| %>
    <div class=“mb-3s”>
      <%= f.input :brand, collection: ["Rossignol", "Salomon", "Atomic", "K2", "Volkl", "Dynastar", "Smith", "Marker", "Scott", "Black\ Crows", "Oakley", "Faction", "Bjorn", "Daehlie", "Cairn", "Armada", "Bolle", "Swix", "Blizzard", "Head", "Vola"
] %>
    </div>
    <div class=“mb-3”>
      <%= f.input :title %>
    </div>
    <div class=“mb-3”>
      <%= f.input :category, collection: [ "Ski Alpin", "Ski de Rando", "Snowboard" ]%>
    </div>
    <div class=“mb-3”>
      <%= f.input :description %>
    </div>
    <div class=“mb-3”>
      <%= f.input :price %>
    </div>
    <div class=“mb-3”>
      <%= f.input :photo, as: :file %>
    </div>
    <div class=“mb-3”>
    <%= f.submit "Create", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>


    <%# <div class=“mb-3”>
      <%= f.input :sizing %>
    <%# </div> %>
