<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ski details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="row d-flex justify-content-between" style="background-color: black; color: white;">
      <div class="col-6">
          <h2><%= @ski.brand %> <%= @ski.category %> <%= @ski.sizing %></h2>
          <h4>Choose your next riding buddy</h4>
      </div>

      <div class="col-6 d-flex flex-row-reverse mr-2 justify-content-xl-center align-items-center">
          <button type="button" class="btn btn-light p-3">ride me!</button>
          <h3 class="mb-4 p-5">CHF <%= @ski.price %></h3>
            <%= @ski.availability %></p>
      </div>
    </div>


  <h2 class="row d-flex justify-content-center mt-5 mb-5 p-4 bg-yellow">"<%= @ski.description %>"</h2>


  <div class="row d-flex justify-content-between">
    <div class="col-3 card shadow p-3 mb-5 bg-white rounded">
        <img src="https://images.unsplash.com/photo-1552853662-8f707e1cb336?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1773&q=80" alt="Card image cap">
    </div>
    <div class="col-3 card shadow p-3 mb-5 bg-white rounded">
        <img src="https://images.unsplash.com/photo-1486684338211-1a7ced564b0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="Card image cap">
    </div>
    <div class="col-3 card shadow p-3 mb-5 bg-white rounded">
        <img src="https://images.unsplash.com/photo-1551698618-1dfe5d97d256?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="Card image cap">
    </div>
    <div class="col-3 card shadow p-3 mb-5 bg-white rounded">
        <img src="https://images.unsplash.com/photo-1557977398-18b39bf47159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1890&q=80" alt="Card image cap">
    </div>
  </div>

</body>
</html>
