<body>
<div class="container">

  <h3 class="row">Meet your next riding buddy</h3>
  <div class="details d-flex">
    <div class="col-8">
        <h2><%= @ski.brand %> <%= @ski.category %> <%= @ski.sizing %> cm</h2>
    </div>

    <div class="col-4">
      <div class="row">
        <div class="col-8">
        <h3 class="m-2">CHF <%= @ski.price %></h3>
        </div>

        <div class="col-4">
        <h4><button type="button" class="btn btn-dark m-2">ride me!</button></h4>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-2 mt-2">
      <p class="m-1">
      <%= cl_image_tag @ski.photo.key, height: 600, width: 200 , crop: :fill %></p>
    </div>

    <div class="col-10 mt-2">
      <h6><%= @ski.description %></h6>
    </div>

  </div>
</div>



</body>
</html>
