<body>
<div class="container">

  <h3 class="row">Meet your next riding buddy</h3>
  <div class="details d-flex">
    <div class="col-8">
        <h2><%= @ski.brand %> <%= @ski.category %> <%= @ski.sizing %> cm</h2>
    </div>

    <div class="col-4">
      <div class="row">
        <div class="col-8">
        <h3 class="m-2">CHF <%= @ski.price %></h3>
        </div>

        <div class="col-4">
        <%= link_to 'Ride me!', new_ski_rental_path(@ski), class:"btn btn-light p-3" %>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-2 mt-2">
      <p class="m-1">
      <%= cl_image_tag @ski.photo.key, height: 600, width: 200 , crop: :fill %></p>
    </div>

    <div class="col-10 mt-2">
      <h6><%= @ski.description %></h6>
    </div>

<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['pk.eyJ1IjoiYnJvZWhyaWciLCJhIjoiY2wwZnV3aXkwMHdzZzNsbzZycjJ2cTZseCJ9.mbuJmIbre32wyN5TSKCRAQ'] %>">
</div>



</body>
</html>
